.card-container {
    display: flex;
    flex-direction: column;
    background:linear-gradient (to right, #734B5E 0%, #ffddd2 100%);
    border: 1px solid grey;
    border-radius: 25px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  